//===============================================================================
// MIXINS
//===============================================================================
@mixin border-radius($radius) { 
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
} 

@mixin box-shadow($x: 0, $y: 0, $radius: .5em, $spread: 0, $color: hsla(0,0,0,0.5)) {
  -o-box-shadow: $x $y $radius $spread $color; 
  -ms-box-shadow: $x $y $radius $spread $color;
  -moz-box-shadow: $x $y $radius $spread $color;
  -webkit-box-shadow: $x $y $radius $spread $color;
  box-shadow: $x $y $radius $spread $color; 
}

@mixin gradients($first, $second) {
  background-color: $first;
  background-image: -o-linear-gradient(top, $first 0%, $second 100%);
  background-image: -ms-linear-gradient(top, $first 0%, $second 100%);
  background-image: -moz-linear-gradient(top,  $first,  $second);
  background-image: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
  background-image: linear-gradient(top, $first 0%, $second 100%);
}

@mixin box-sizing($type: border-box) {
  box-sizing: $type; 
  -o-box-sizing: $type; 
  -ms-box-sizing: $type;
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
}