//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(220, 13, 23);
$link: hsl(220,100,40);
$header: $ink;

$body-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;;

$wrap-width: 38em;