//===============================================================================
// VARIABLES
//===============================================================================
$paper: hsl(0, 0, 100);
$ink: hsl(0, 0, 0);
$link: hsl(220,100,40);
$header: $ink;

$body-font: sans-serif;

$wrap-width: 38em;