//===============================================================================
// IMPORTS
//===============================================================================
// VARIABLES: define mixins for later use
@import "_variables";

// MIXINS: define mixins for later use
@import "_mixins";

// FONTS: @font-face rules 
@import "_fonts";

// NORMALIZE: normalize.css from ttp://necolas.github.io/normalize.css/
@import "_normalize.scss";

// THIRD-PARTY: styles for JS libs etc

// ELEMENTS: styles for standard html elements
@import "_elements";

// HELPERS: helper classes. clear-fix etc 
@import "_helpers";

// LAYOUT: grids, wraps etc
@import "_layout";

// TYPOGRAPHY:
@import "_typography";

// SHARED-STYLES: styles used across multiple pages
@import "_shared";

// GLOBAL-ELEMENTS: elements that are used on every page. Eg headers & footers
@import "_header";
@import "_footer";

// PAGES: styles per page

// BROWSER-FIXES: styles per page
@import "_browser-fixes";

// MEDIA-QUERIES:
@import "_media-queries";

//===============================================================================
// DEV-STYLES
//===============================================================================
// playground for development
$cm: 100px;
$face-width: 147px;
$face-height: 500px;


html,
body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-print-color-adjust: exact;
}

[class^="box"]{
  margin: ( $cm / 2 ) 0;
}

.tab,
[class^="content"] {
  height: $face-height;
}

[class^="top"],
[class^="content"],
[class^="bottom"] {
  width: $face-width;
}

[class^="top"],
[class^="bottom"] {
  height: $face-width;
}

.tab{
  border: 1px dashed lighten($ink, 80);
}

[class^="face"] {
  position: relative;
  border: 1px dashed lighten($ink, 80);
}

.face-1 {
  left: -1px;
}

.face-2 {
  left: -1px * 2;
}

.face-3 {
  left: -1px * 3;
}

.face-4 {
  left: -1px * 4;
}

[class^="top"],
[class^="bottom"] {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 130%;
    top: 50%;
    left: -15%;
    margin-top: -( $cm / 50 / 2 );
    border-top: 1px dashed lighten($ink, 80);
  }
}

.top-1,
.top-2,
.bottom-3,
.bottom-4, {
  -webkit-transform: rotate( 45deg );
}

.top-3,
.top-4,
.bottom-1,
.bottom-2 {
  -webkit-transform: rotate( -45deg );
}


[class^="content"] {
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  font-size: $cm * .1;
  border-top: 1px dashed lighten($ink, 80);
  border-bottom: 1px dashed lighten($ink, 80);
  padding: $cm * .1;
}

.page-break { 
  display: block; 
  page-break-before: always;
}